<ion-view view-title="Home Depot">
<ion-pane>
  <ion-content class="has-header padding=true">



    <h2 align="center">Top Pros for Home Depot</h2>

    <button class = "button" ng-click = "showConfirm()">Add Popup Confirm</button>



    <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide>
        <h3 align="center" ><font color="red">Plumber</font></h3>
        <div class="container-fluid" id="plumb">
          <center><img class="test" align="center" src="http://www.sanjoseplumbingpro.com/media/images/cartoonplumber-350.png"></center>
        </div>
        <br>
        <br>
      </ion-slide>

      <ion-slide>
        <h3 align="center" ><font color="orange">Electrician</font></h3>
        <div class="container-fluid" id="elect">
            <center><img class="test" align="center" src="http://zen7method.com/neuxgen/electrician-man.png"></center>
        </div>
      </ion-slide>

      <ion-slide>
        <h3 align="center" ><font color="blue">Home Improvement</font></h3>
        <div class="container-fluid" id="homeImp">
            <center><img class="test" align="center" src="https://westbaycash.com/w2/img/uses/improve.png"></center>
        </div>
      </ion-slide>
    </ion-slide-box>
</body>



  </ion-content>
  </ion-pane>
</ion-view>
