/* Empty. Add your own CSS if you like */
.tabs-color-active-custom{
  color: #ee7125;
}
.bar-custom{
  color: #ee7125;
}
.transparent {
  background: transparent !important;
}
img
{
    max-width: 100%;
    min-width: 300px;
    height: auto;
}
.LoginLogo{

}
